// .main {
//     min-height: 100vh;
//     background: #f4f6f8;
//     padding-bottom: 60px;
// }

// .container {
//     max-width: 1400px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 20px;

//     @media (min-width: 768px) {
//         padding: 0 40px;
//     }

//     @media (min-width: 1200px) {
//         padding: 0 60px;
//     }
// }

// .section {
//     padding: 60px 0;

//     &:first-child {
//         padding-top: 40px;
//     }

//     &:last-child {
//         padding-bottom: 40px;
//     }


// }

.main {
    min-height: 100vh;
    width: 100%;
    background: #f6f7fb;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.section {
    width: 100%;
}


@media (min-width: 768px) {
    .container {
        padding: 0 24px;
        gap: 64px;
    }
}


@media (min-width: 1200px) {
    .container {
        padding: 0 40px;
        gap: 80px;
    }
}