.main {
    min-height: 100vh;
    background: #f4f6f8;
    padding-bottom: 60px;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: 768px) {
        padding: 0 40px;
    }

    @media (min-width: 1200px) {
        padding: 0 60px;
    }
}

.section {
    padding: 60px 0;

    &:first-child {
        padding-top: 40px;
    }

    &:last-child {
        padding-bottom: 40px;
    }


}