.loading {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: fit-content;
    padding: 20px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: aqua;
    border-radius: 50%;
    animation: pulse 1.4s infinite ease-in-out;

}

@keyframes pulse {

    0%,
    100% {
        transform: scale(0.6);
        opacity: 0.4;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }
}

.loading {
    .dot {
        &:nth-child(1) {
            animation-delay: 0ms;
        }

        &:nth-child(2) {
            animation-delay: 200ms;
        }

        &:nth-child(3) {
            animation-delay: 400ms;
        }

        &:nth-child(4) {
            animation-delay: 600ms;
        }
    }
}