.Footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px;
    background-color: #222;
    color: white;

    .column {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h4 {
            margin: 0;
            font-size: 18px;
            border-bottom: 1px solid #555;
            padding-bottom: 5px;
        }

        a {
            margin: 0;
            font-size: 14px;
            color: #ccc;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                border-bottom: 1px solid #555;
                color: white;
            }
        }
    }
}
